label {
  display: inline-block;
  width: 120px;
}

fieldset p {
  margin: 0;
}

input, select {
  width: 80%;
}

div#mdout {
  display: none;
}

div#mdout {
  border: 1px solid var(--border);
  padding: 5px;
}

div#mdout p {
  margin: 0;
}
